.container {
  display: grid;
  grid-template-areas:
    "menu content";
  grid-template-columns: 1fr 3fr;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.container div {
  padding: 10px;
}

.container div.menu {
  grid-area: menu;
  background-color: #1A3D64;
  color: #F4F4F4;
}

.container div.content {
  grid-area: content;
  background-color: #F4F4F4;
  color: #0C2B4E;

}

.SmallImage {
    height: auto;
    width: 200px
}

.header {
    color: #F4F4F4;
    background-color: #0C2B4E;
}
